<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangzhu.mapper.LogisticsServiceMapper">
  <resultMap  id="logisticsmap"  type="logistics">
    <result column="lno"  property="lno" />
    <result column="lname"  property="lname" />
    <result column="cer"  property="cer" />
    <result column="scale"  property="scale" />
    <result column="l_phone"  property="l_phone" />
    <result column="email"  property="email" />
    <result column="address"  property="address" />
    <result column="s_time"  property="s_time" />
    <result column="f_time"  property="f_time" />
  </resultMap>
    
  <select id="display"  parameterType="String" resultMap="logisticsmap">
    select * from logistics where lname=#{lname}
  </select>  
  
  <update id="updateLogisticsPhone">
    update logistics set l_phone=#{n_phone} where lno=#{lno}
  </update>
  
  <update id="updateLogisticsEmail">
    update logistics set email=#{n_email} where lno=#{lno}
  </update>
  
  <update id="updateLogisticsAddress">
    update logistics set address=#{n_address} where lno=#{lno}
  </update>
    
</mapper>